.h-editor {
  border: 1px solid #ccc;
  border-radius: 5px;

  .h-editor-toolbar {
    border-top: 1px solid #ccc;
    position: relative;

    > div {
      float: left;
      padding: 0 5px;
      cursor: pointer;

      &:hover {
        background: #ccc;
      }

      img {
        width: 21px;
        vertical-align: top;
      }
    }

    .h-editor-send {
      float: right;
      vertical-align: middle;
    }
  }

}

.clear-fix::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}
